@import "tailwindcss";

@keyframes float {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-30px, -30px);
  }
}

@keyframes float-right {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-30px, 30px);
  }
}

@keyframes float-down {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(30px, 30px);
  }
}

.animate-diagonally-left {
  animation: float 9s ease-in-out infinite;
}

.animate-diagonally-right {
  animation: float-right 9s ease-in-out infinite;
}

.animate-diagonally-down {
  animation: float-down 9s ease-in-out infinite;
}
