@import "tailwindcss";

@keyframes float {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-30px, -30px);
  }
}

@keyframes float-right {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-30px, 30px);
  }
}

@keyframes float-down {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(30px, 30px);
  }
}

.animate-diagonally-left {
  animation: float 9s ease-in-out infinite;
}

.animate-diagonally-right {
  animation: float-right 9s ease-in-out infinite;
}

.animate-diagonally-down {
  animation: float-down 9s ease-in-out infinite;
}

@keyframes slide-right {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(5%);
  }
}
.animate-slide-right {
  animation: slide-right 10s linear infinite;
}

.animate-slide-left {
  animation: slide-left 10s linear infinite;
}

.animate-slide-right.second {
  transform: translateX(100%);
}

.ticker {
  --wcds-ticker-fade-size: 5.625rem;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0,
    rgb(0, 0, 0) var(--wcds-ticker-fade-size),
    rgb(0, 0, 0) calc(100% - var(--wcds-ticker-fade-size)),
    rgba(0, 0, 0, 0) 100%
  );
}

@keyframes rise-up {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-rise-up {
  animation: rise-up 0.7s ease-out forwards;
}

@keyframes right-to-left{
  0%{
    transform: translateX(90px);
  }
  100%{
    transform: translateX(0px);
  }
}

.animate-right-to-left{
  animation: right-to-left 0.7s ease-out backwards;
}

@keyframes up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

.animate-up {
  animation: up 0.5s ease-out forwards;
  /* transform: translateY(0); */
}
